<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <%-include("partials/nav.ejs")%>
    <h1>Profile <%= person %></h1>
    <h2>Age <%= data.age %></h2>
    <h2>Job <%= data.job %></h2>
    <ul>
        <% data.friends.forEach((items) => {%>
            <li><%=items%></li>
        <%})%>
    </ul>
</body>
</html>